<!DOCTYPE html>
<header id="pageHead">
    <div class="inner">
        <div>
            <img src="{{ '/images/logo.png' | relative_url }}" height="80px" id="logo" alt="稲垣研究室のロゴ">
        </div>

        <!-- ハンバーガー -->
        <button class="menuToggle" id="menuToggle">☰</button>

        <!-- ここをまとめて開閉 -->
        <div id="menuWrap">
            <div class="headerTop">
                <a href="https://www.instagram.com/inalab_ut?igsh=aXg0cnh0NDd0N21n" target="_blank" rel="noopener noreferrer" class="instaLink">
                    <img src="{{ '/images/Instagram_Glyph_Gradient.png' | relative_url }}" height="25px" class="instaIcon">
                </a>
                <a href="{{ '/' | relative_url }}" class="jpButton">JP</a>
                <a href="{{ '/en/' | relative_url }}" class="enButton">EN</a>
            </div>
            <nav class="globalNavi">
                <ul>
                    <li><a href="{{ '/' | relative_url }}">Home</a></li>
                    <li><a href="{{ '/research' | relative_url }}">Research</a></li>
                    <li><a href="{{ '/members' | relative_url }}">Members</a></li>
                    <li><a href="{{ '/publications' | relative_url }}">Publications</a></li>
                    <li><a href="{{ '/access' | relative_url }}">Access</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>